### Name : S.M.Hedayatullah
### Enroll No. 0010

# Data Preparation

In [9]:
-- Data Cleaning 
 - Text Cleaning : Removing irrelevant Info, punctuation removal,stop words or special characters.
 - Changing al text in lower case
 - stemming 
 - lemmatization
 - These dont change data into numerical or structural form

SyntaxError: invalid syntax (1275136958.py, line 1)

# Other methods of Data Cleaning

In [ ]:
1. Bag of Words(BoW) : Represents a Histogram of words , word frwuencies. Histogram is a graph of the frequency of words.
- BoW ignores word order and semantics but captures the overall word importance in text

2. TF=IDF : Term Frequency- Inverse Document Frequency  
    -This builds upon BoW by assigning weights to each word based on its frequency in a document collection
    -Words that appear frequently within a single document but rarely across documents get higher weights, 
    emphasizing their importance for that specific document
    
3. Word Embeddings: This technique represents words as vectors in higher dimensional space.
    - Words in similar space are positioned closer in Vector Space 
    - Word embeddings capture semantic relationships between words and are useful for tasks like sentiment analysis 
    and machine translation
    - Vector means array , collection of same kind of data
    -Word embeddings not used in ML but is used in DL

Bag of Words

In [ ]:
# BoW Is NLP Technique for Text Modelling specially used to assign Numbers for the text
# It a method of feature extraction with text data 
# Syntactic and Smentic relationship doesn't matter here . Only what matters is the frequency of words 
# In Programming language we call this as Count Vector
# By using BoW we convert Variable-length text into FIxed Length Vector
# Why BoW ??
# Also because ML works with Numerical Data rather than textual data . Hence BoW
# So By using BoW technique we convert a text into its equivalent vector of numbers .

# There are 2 Methods : 1-By Scratch      2_ By Algorithm 
# Bag of Words is the Frequency of each word in a sentence/text 
# We require Pandas library to save the info in a tabular form

In [10]:
sents = "the red dog cat eats dog dog eats food red cat eats"
set(sents.split())

{'cat', 'dog', 'eats', 'food', 'red', 'the'}

In [11]:
from nltk.tokenize import word_tokenize
import pandas as pd

In [12]:
# Aplicable for any langauge
sentence_1 = 'it was a good practice for us'
sentence_2 = 'it was also good to know about it'
sentence_3  = 'for all of us they have done a good practice'

In [13]:
# Find the list of all distinct words present in these 3 sentences. This is my solution . Not very good though 

set(sentence_1.split() + sentence_2.split() + sentence_3.split())

{'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [14]:
# Another logic
unique_word_list = set(sentence_1.split() + sentence_2.split() + sentence_3.split())
print (unique_word_list)

{'done', 'it', 'to', 'they', 'practice', 'was', 'us', 'for', 'also', 'about', 'know', 'all', 'of', 'have', 'a', 'good'}

In [15]:
# If sentences have punctuation marks this will give incorrect output. Split Methos doesnt separate Punctuations !!!
sentence_11 = 'it was a good practice for us.'
sentence_22 = 'it was also good to know about it.'
sentence_33  = 'for all of us they have done a good practice.'
unique_word_list = set(sentence_11.split() + sentence_22.split() + sentence_33.split())
print (unique_word_list)

{'to', 'they', 'it.', 'about', 'know', 'for', 'practice', 'us', 'have', 'also', 'us.', 'done', 'it', 'all', 'of', 'practice.', 'good', 'was', 'a'}

In [16]:
# so the solution is  WORD TOKENIZATION
unique_word_list = word_tokenize(sentence_11) + word_tokenize(sentence_22) + word_tokenize(sentence_33)
print (unique_word_list)

['it', 'was', 'a', 'good', 'practice', 'for', 'us', '.', 'it', 'was', 'also', 'good', 'to', 'know', 'about', 'it', '.', 'for', 'all', 'of', 'us', 'they', 'have', 'done', 'a', 'good', 'practice', '.']

In [17]:
# Now if we have any upper case in the sentence even that is a prob
sentence_111 = 'It was a good practice for us.'
sentence_222 = 'It was also good to know about it.'
sentence_333  = 'For all of us they have done a good practice.'
words = word_tokenize(sentence_111) + word_tokenize(sentence_222) + word_tokenize(sentence_333)
print (words)

['It', 'was', 'a', 'good', 'practice', 'for', 'us', '.', 'It', 'was', 'also', 'good', 'to', 'know', 'about', 'it', '.', 'For', 'all', 'of', 'us', 'they', 'have', 'done', 'a', 'good', 'practice', '.']

In [18]:
# Solution
# Now if we have any upper case in the sentence even that is a prob
sentence_111 = 'It was a good practice for us.'
sentence_222 = 'It was also good to know about it.'
sentence_333  = 'For all of us they have done a good practice.'
wordss = word_tokenize(sentence_111.lower()) + word_tokenize(sentence_222.lower()) + word_tokenize(sentence_333.lower())
print (wordss)

['it', 'was', 'a', 'good', 'practice', 'for', 'us', '.', 'it', 'was', 'also', 'good', 'to', 'know', 'about', 'it', '.', 'for', 'all', 'of', 'us', 'they', 'have', 'done', 'a', 'good', 'practice', '.']

In [19]:
tokens = set(wordss)
tokens

{'.',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [20]:
# Now lets create Bag of words with column name as Unique words and the rows will be the sentences 
df = pd.DataFrame(columns = list(tokens), index = [1,2,3])   # we have changed the SET to LIst here
df

,done,it,to,they,practice,was,us,.,for,also,about,know,all,of,have,a,good
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Now we need the count of each unique words in a sentence
tokens1 = word_tokenize(sentence_111.lower())
tokens2 = word_tokenize(sentence_222.lower())
tokens3 = word_tokenize(sentence_333.lower())
# Now using List comprehension lets store the counts 
tokens1, tokens2, tokens3

(['it', 'was', 'a', 'good', 'practice', 'for', 'us', '.'],
 ['it', 'was', 'also', 'good', 'to', 'know', 'about', 'it', '.'],
 ['for',
  'all',
  'of',
  'us',
  'they',
  'have',
  'done',
  'a',
  'good',
  'practice',
  '.'])

In [ ]:
df.columns

In [22]:
counts1 = [tokens1.count(x) for x in df.columns]     # using List comprehension
counts2 = [tokens2.count(x) for x in df.columns]
counts3 = [tokens3.count(x) for x in df.columns]

In [23]:
counts1, counts2, counts3

([0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1],
 [0, 2, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1],
 [1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1])

In [24]:
# Now lets add these values to our DataFrame
df.iloc[0,:]=counts1   # df.iloc[0,:]   First row and All the columns
df.iloc[1,:]=counts2
df.iloc[2,:]=counts3
df

  done it to they practice was us  . for also about know all of have  a good
1    0  1  0    0        1   1  1  1   1    0     0    0   0  0    0  1    1
2    0  2  1    0        0   1  0  1   0    1     1    1   0  0    0  0    1
3    1  0  0    1        1   0  1  1   1    0     0    0   1  1    1  1    1

If there are hundreds or thousands of rows , then what ?
All the above (creating a DataFrame for the Bag of words) can be used Directly using Libraries !!!

In [25]:
# Import the count vectorizer class
from sklearn.feature_extraction.text import CountVectorizer
# Create the object 
cv = CountVectorizer()

In [26]:
# Apply the BoW method
mydata = cv.fit_transform([sentence_111, sentence_222, sentence_333])
mydata

<3x15 sparse matrix of type '<class 'numpy.int64'>'
	with 22 stored elements in Compressed Sparse Row format>

In [27]:
mydata.toarray()     # This is our required data

array([[0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 1, 0, 2, 1, 0, 0, 0, 1, 0, 1],
       [0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0]], dtype=int64)

In [28]:
# We got array . now we have to convert it into DataFrame 
cv.get_feature_names_out()    # This Function Gives the unique words , which will be used for Column Names

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [30]:
# Using the above we can create DataFrame 
df = pd.DataFrame(data=mydata.toarray(), columns = cv.get_feature_names_out()) 
df   # 0 means the word in not present in that sentence

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0,0,0,0,1,1,0,1,0,0,1,0,0,1,1
1,1,0,1,0,0,1,0,2,1,0,0,0,1,0,1
2,0,1,0,1,1,1,1,0,0,1,1,1,0,1,0

In [ ]:
# This ABove os Called Bag of Words Method

# N-grams

In [ ]:
# if we have 2 sentences :
# This is a good job. I will not miss it for anything
# This is not good at all
-If we see the BoW for the words 'good,job,miss,not all' both look similar only . 
-No way to differentiate whihc is +ve and which -ve

In [ ]:
# This means Good +Not must come together and we should find the Frequency of "not good"

An N-Gram is an N-token sequence of words: a 2-gram(commpnly called a Bigram) is a 2-word sequence of words like
'really good', 'not good', 'your homework'... And a 3-gram (commonly called a Tri-gram) is a 3 word sequence like "not at all",
'turn off light'

In [ ]:
# So we use Bi-Grams(Bag of Bigrams). The model can differentiate between a negative and a postive sentence

In [ ]:
# Create the object 
cv = CountVectorizer(ngram_range=(1,2))    # Minimum 1 word and Maximum 2 words

# Apply the BoW N-Gram method 
mydata = cv.fit_transform([sentence_111, sentence_222, sentence_333])

In [ ]:
cv.get_feature_names_out()     # cv is CountVectorizer

In [ ]:
# Now Print the final DataFrame
df = pd.DataFrame(data=mydata.toarray(), columns = cv.get_feature_names_out())
df

In [ ]:
# Mostly we ll use Bigram or Trigram .

# TF-IDF Vectorizer    Term frequency

In [ ]:
# TF is concern with a single line/ sentence 
# IDF is about the whole document

TF(t) = (Number of times Term t appears in a document)/ Total number of items in the document

IDF(t) = log_e(Toal NUmber of Documents/Number of Documents with Term t in it)

In [ ]:
# TF-IDF = term x within Document Y

In [5]:
# import the class 
from sklearn.feature_extraction.text import TfidfVectorizer

C:\Users\User\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [31]:
# Create the object 
tfidf = TfidfVectorizer()

In [32]:
# Apply the algoritm 
new_data = tfidf.fit_transform([sentence_111, sentence_222, sentence_333])  # all sentences in 1 list

In [33]:
new_data.toarray()  # Give the array of all the TF-IDF for the whiole doc

array([[0.        , 0.        , 0.        , 0.        , 0.42246056,
        0.32807831, 0.        , 0.42246056, 0.        , 0.        ,
        0.42246056, 0.        , 0.        , 0.42246056, 0.42246056],
       [0.37162591, 0.        , 0.37162591, 0.        , 0.        ,
        0.21948825, 0.        , 0.56526217, 0.37162591, 0.        ,
        0.        , 0.        , 0.37162591, 0.        , 0.28263108],
       [0.        , 0.37571621, 0.        , 0.37571621, 0.28574186,
        0.22190405, 0.37571621, 0.        , 0.        , 0.37571621,
        0.28574186, 0.37571621, 0.        , 0.28574186, 0.        ]])

In [34]:
# To get the names of the columns 
tfidf.get_feature_names_out()

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [35]:
# Now Lets craete a New dataFrame to get our desired data with correct column names and the data 
df = pd.DataFrame(data=new_data.toarray(), 
                  columns = tfidf.get_feature_names_out())
df

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0.000000,0.000000,0.000000,0.000000,0.422461,0.328078,0.000000,0.422461,0.000000,0.000000,0.422461,0.000000,0.000000,0.422461,0.422461
1,0.371626,0.000000,0.371626,0.000000,0.000000,0.219488,0.000000,0.565262,0.371626,0.000000,0.000000,0.000000,0.371626,0.000000,0.282631
2,0.000000,0.375716,0.000000,0.375716,0.285742,0.221904,0.375716,0.000000,0.000000,0.375716,0.285742,0.375716,0.000000,0.285742,0.000000

In [36]:
# We saw Tf-Idf to convert text data into numerical format

# Machine Learning

 Decision Tree (we ll see classification here)

In [37]:
# Binary Classification

In [ ]:
# Dataset :